<!DOCTYPE html>
<html>
  <head>
    <title>NomadBliss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.site_logo = "<%= image_url('airplane_world.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
