<!DOCTYPE html>
<html>
  <head>
    <title>NomadBliss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <%= favicon_link_tag %>
    <script type="text/javascript">
      window.site_logo = "<%= image_url('red_globe.jpg') %>";
      window.profile_pic= "<%= image_url('bart.jpg') %>";
      window.bg_image= "<%= image_url('temp_background.png') %>";
      window.city_bg= "<%= image_url('generic_city.jpg') %>";
      window.search_icon= "<%= image_url('search_icon.png') %>";
      // window.profile_pic= "<%= image_url('buddha_face.png') %>"
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90165573-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
