<!DOCTYPE html>
<html>
  <head>
    <title>NomadBliss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script type="text/javascript">
      window.site_logo = "<%= image_url('red_globe.jpg') %>";
      window.profile_pic= "<%= image_url('bart.jpg') %>";
      window.bg_image= "<%= image_url('temp_background.png') %>";
      window.city_bg= "<%= image_url('generic_city.jpg') %>";
      window.search_icon= "<%= image_url('search_icon.png') %>";
      // window.profile_pic= "<%= image_url('buddha_face.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
